<header class="main-header">
<nav>
  <div class="logo">
    <%= image_tag("https://media.eventhubs.com/static/images/eventhubslogo1.png") %>  </div>
  <div class="search">
    <form id="demo-2">
	    <input type="search" placeholder="Search">
    </form>
  </div>
  <div class="menudesk">
    <ul class="">
      <li><%= link_to "Actualité", root_path, class: "news" %></li>
      <li><%= link_to "Classement", classement_ranking_path, class: "rank" %></li>
      <% if player_signed_in? || sponsor_signed_in? %>
      <li><%= link_to "Partenaire", partenaire_sponsor_path %></li>
      <li><%= link_to "Profil", root_path, class: "profil" %></li>
      <li><%= link_to "Deconnexion", destroy_player_session_path, method: :delete %>

      <% else %>
      <li><%= link_to "Connexion", new_player_session_path %></li>
      <% end %>
    </ul>
  </div>
  <div id="nav-toggle">
    <div class="hamburger"></div>
  </div>
</nav>
<div id="menu-app-slide" class="">
  <div class="menuapp">
    <div class="container">
      <div class="profil">
        <% if player_signed_in? || sponsor_signed_in? %>
        <img src="https://www.les-transferts.com/wp-content/uploads/2018/05/52a1abaa-5538-4590-b365-c840a82a2402.jpg" alt="">
        <p>Welcome <%= current_player.email %></p>
        <% else %>
        <img src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/user-512.png" alt="">
        <p>Welcome</p>
          <% end %>
      </div>
    </div>
    <ul class="menu-link">
      <li><%= link_to "Actu", root_path, class: "news" %></li>
      <li><%= link_to "Classement", classement_ranking_path %></li>
      <li><%= link_to "Profil", root_path %></li>
      <% if player_signed_in? || sponsor_signed_in? %>

      <li><%= link_to "Partenaire", partenaire_sponsor_path %></li>
      <li><%= link_to "Deconnexion", destroy_player_session_path, method: :delete %>
      <% else %>
      <li><%= link_to "Connexion", new_player_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>
</header>
