  <div class="section">
    <div class="regule"></div>
    <div class="next">
      <h2>up next</h2>
      <% @events.each do |event| %>
      <div class="article">
        <div class="article-image">
          <%= image_tag("#{event.picture}") %>
        </div>
        <div class="article-info">
          <h3><%= event.name %></h3>
          <p><%= event.game.capitalize %></p>
          <p><%= event.style %></p>
          <p>Lieu: <%= event.place %></p>
          <p>Nombre de participant: <%= event.attendee %></p>
          <p class="link-to"><%= link_to "Plus d'info", root_path %></p>
        </div>
      </div>
      <% end %>
    </div>



<!-- tournanament archives -->
<div class="past">
  <h2>archives</h2>
  <% @events.each do |event| %>
  <div class="article">
    <div class="article-image">
      <%= image_tag("#{event.picture}") %>
    </div>
    <div class="article-info">
      <h3><%= event.name %></h3>
      <p><%= event.game.capitalize %></p>
      <p><%= event.style %></p>
      <p>Lieu: <%= event.place %></p>
      <p>Nombre de participant: <%= event.attendee %></p>
      <p class="link-to"><%= link_to "Plus d'info", root_path %></p>
    </div>
    </div>
  <% end %>


</div>

</div>
