<h1>Partie Admin !</h1>
<br/>
<br/>
<br/>
<p><%= button_to 'Scrapping Event', action: 'scrapp_events' %></p>
<p><%= button_to 'Scrapping Player', action: 'scrapp_players' %></p>
<p><%= button_to 'Scrapping Game', action: 'scrapp_games' %></p>
<br/>
<p><%= button_to 'Save data Event', action: 'save_data_from_spreadsheet_event' %></p>
<p><%= button_to 'Save data Player', action: 'save_data_from_spreadsheet_player' %></p>
<p><%= button_to 'Save data Game', action: 'save_data_from_spreadsheet_game' %></p>
